:root {
  --headerAndFooterColor: #264653;
  --textColor: #15514a;
  --yellow: #e9c46a;
  --turquoise: #2a9d8f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--turquoise);
  color: var(--textColor);
  font-family: "Orbitron", sans-serif;

  height: 100vh;

  display: grid;
  text-align: center;
  grid-template-rows: 8rem auto 5rem;

  overflow: hidden;
}

header {
  background-color: var(--headerAndFooterColor);
  color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 15px #264653;
  gap: 0.3rem;
}

/* The name of the game (Rock Paper Scissor) */
header h1 {
  font-size: 50px;
}

/* Mobile Version Text - Only visible when in mobile mode */
header p {
  color: grey;
  font-style: italic;
  font-size: 14px;
  display: none;
}

.play-again-btn,
.user-btn {
  margin: 0 0.5rem;
  background-color: var(--headerAndFooterColor);
  color: var(--yellow);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 8px black;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  font-size: 28px;
  min-width: 20rem;
}
.play-again-btn {
  margin-top: 1rem;
  min-width: 1rem;
}
.play-again-btn:hover {
  box-shadow: 0 0 12px var(--turquoise);
  background-color: #19343f;
  font-family: "Orbitron", sans-serif;
}
.user-btn:hover {
  background-color: #19343f;
  box-shadow: 0 0 12px black;
}

.user-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}

footer p {
  font-size: 25px;
}

/* ━━━━━━━━━━| SLIDER |━━━━━━━━━━ */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: all 0.3s ease;
  border: 2px solid black;
  z-index: 1;
}

.slider.show {
  transform: translateX(0);
  background-color: rgba(0, 0, 0, 0.96);
}

.slider p {
  color: var(--yellow);
  font-size: 20px;
  min-width: 13rem;
  background-color: #0d252f;
  padding: 1rem;
  border-radius: 10px;
}

/* ━━━━━━━━━━| MOBILE |━━━━━━━━━━ */
@media (max-width: 650px) {
  header h1 {
    font-size: 30px;
  }
  header p {
    display: flex;
  }
  .user-btn,
  .play-again-btn {
    font-size: 20px;
    min-width: 170px;
  }
}
