/* HELP */
/* border: 2px dotted black; */
:root {
  --headerAndFooterColor: #264653;
  --textColor: #15514a;
  --yellow: #e9c46a;
  --orange: #f4a261;
  --red: #e76f51;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--red);
  text-align: center;
  height: 100vh;
  font-family: 'Orbitron', sans-serif;
}

header {
  background-color: var(--headerAndFooterColor);
  color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: var(--headerAndFooterColor);
  color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-name-text {
  font-size: 50px;
}

.slider {
  position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all .3s ease;
    border: 2px solid black;
    z-index: 1;
}

.slider.show{
  transform: translateX(0);
    background-color: rgba(0, 0, 0, 0.8);
}
.slider p {
  color: var(--yellow);
  font-size: 20px;
}

/* MAIN */
.the-game {
  display: grid;
  grid-template-rows: 6rem auto 4rem;
  height: 100vh;
  color: var(--textColor);
  background-color: var(--backgroundColor);
}

.play-again-btn, .user-button {
  margin: 0 0.5rem;
  background-color: var(--headerAndFooterColor);
  color: var(--yellow);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 8px black;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
}
.play-again-btn{
font-size: 20px;
}
.user-button:hover {
  background-color: #19343f;
  box-shadow: 0 0 12px black;
}

.user-buttons {
  position: absolute;
  bottom: 7rem;
  padding: 1rem;
  width: 100%;
}
.win-counter-text {
  font-size: 25px;
}
