/* HELP */
/* border: 2px dotted black; */
:root {
  --headerAndFooterColor: #264653;
  --textColor: #15514a;
  --yellow: #e9c46a;
  --orange: #f4a261;
  --red: #e76f51;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--red);
  text-align: center;
  height: 100vh;
}

header {
  background-color: var(--headerAndFooterColor);
  color: var(--yellow);
}

footer {
  background-color: var(--headerAndFooterColor);
  color: var(--yellow);
}

/* MAIN */
.the-game {
  display: grid;
  grid-template-rows: 3rem auto 3rem;
  height: 100vh;
  color: var(--textColor);
  background-color: var(--backgroundColor);
}

.user-button {
  margin: 0 0.5rem;
}

.user-buttons {
  position: absolute;
  border: 2px solid black;
  bottom: 4rem;
  padding: 1rem;
  width: 100%;
}
